<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Table of users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>
        <td>
            <form th:method="GET" th:action="@{/admin/update/{id}(id=${user.getId()})}">
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:method="GET" th:action="@{/admin/create}">
    <input type="submit" value="Create new user"/>
</form>
</body>
</html>
